.sliding-middle-out {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	transition: 0.3s;
	
	border-bottom-color: pink;
	border-bottom-style: solid;
}

img.location_imaf {
    height: auto; 
    width: 100%;
}

div.circle {
    border-radius: 50%;
    /*behavior: url(PIE.htc);*/  /*remove if you don't care about IE8*/ 

    width: 30px;
    height: 30px;
    position: absolute;
}